*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Gradle wrapper jar should always be committed
# !gradle/wrapper/gradle-wrapper.jar
app/build/
